USE [Finally]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2024/08/20 19:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 2024/08/20 19:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[email] [nvarchar](30) NULL,
	[Role_ID] [int] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2024/08/20 19:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[gender] [int] NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[address] [nvarchar](100) NULL,
	[Account_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 2024/08/20 19:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ID] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassStu]    Script Date: 2024/08/20 19:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassStu](
	[Class_ID] [int] NOT NULL,
	[Student_ID] [int] NOT NULL,
	[Course] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Class_ID] ASC,
	[Student_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 2024/08/20 19:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[ID] [int] NOT NULL,
	[name] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GradeDetail]    Script Date: 2024/08/20 19:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradeDetail](
	[GradeID] [int] NOT NULL,
	[PresentScore] [decimal](5, 2) NULL,
	[LabScore] [decimal](5, 2) NULL,
	[PTScore] [decimal](5, 2) NULL,
	[FEScore] [decimal](5, 2) NULL,
	[OverallScore] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 2024/08/20 19:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Student_ID] [int] NULL,
	[Class_ID] [int] NULL,
	[Teacher_ID] [int] NULL,
	[grade] [int] NOT NULL,
	[DayOfGrade] [date] NULL,
	[subject] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2024/08/20 19:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] NOT NULL,
	[name] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 2024/08/20 19:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[DayOfWeeks] [nvarchar](50) NULL,
	[slot] [int] NULL,
	[Class_ID] [int] NULL,
	[Teacher_ID] [int] NULL,
	[SubjectID] [int] NULL,
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Schedules_ScheduleID] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleStu]    Script Date: 2024/08/20 19:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleStu](
	[ScheduleStuID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleStuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2024/08/20 19:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[gender] [int] NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[address] [nvarchar](100) NULL,
	[Account_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 2024/08/20 19:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 2024/08/20 19:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[gender] [int] NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[address] [nvarchar](100) NULL,
	[Department_ID] [int] NULL,
	[Account_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeachSubject]    Script Date: 2024/08/20 19:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeachSubject](
	[TeacherID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[Course] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([ID], [username], [password], [email], [Role_ID], [status]) VALUES (1, N'teacher1', N'mLEzt$no', N'chungcqkhe170745@fpt.edu.vn', 1, 1)
INSERT [dbo].[Accounts] ([ID], [username], [password], [email], [Role_ID], [status]) VALUES (2, N'teacher2', N'123', N'lethibao@example.com', 1, 1)
INSERT [dbo].[Accounts] ([ID], [username], [password], [email], [Role_ID], [status]) VALUES (3, N'm', N'1', N'tranvancuong@example.com', 4, 1)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [FullName], [DateOfBirth], [gender], [PhoneNumber], [address], [Account_ID]) VALUES (1, N'Nguyen Van Hai', CAST(N'2003-11-20' AS Date), 1, N'0977423805', N'Hung Yen', 31)
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
INSERT [dbo].[Classes] ([ID], [name]) VALUES (1, N'A1')
INSERT [dbo].[Classes] ([ID], [name]) VALUES (2, N'A2')
INSERT [dbo].[Classes] ([ID], [name]) VALUES (3, N'Class 1')
GO
INSERT [dbo].[ClassStu] ([Class_ID], [Student_ID], [Course]) VALUES (2, 1, 1)
INSERT [dbo].[ClassStu] ([Class_ID], [Student_ID], [Course]) VALUES (4, 1, 1)
INSERT [dbo].[ClassStu] ([Class_ID], [Student_ID], [Course]) VALUES (15, 1, 1)
GO
INSERT [dbo].[Departments] ([ID], [name]) VALUES (1, N'Natural sciences')
INSERT [dbo].[Departments] ([ID], [name]) VALUES (2, N'Social science')
GO
INSERT [dbo].[GradeDetail] ([GradeID], [PresentScore], [LabScore], [PTScore], [FEScore], [OverallScore]) VALUES (0, CAST(8.50 AS Decimal(5, 2)), CAST(9.00 AS Decimal(5, 2)), CAST(7.00 AS Decimal(5, 2)), CAST(8.00 AS Decimal(5, 2)), CAST(8.00 AS Decimal(5, 2)))
INSERT [dbo].[GradeDetail] ([GradeID], [PresentScore], [LabScore], [PTScore], [FEScore], [OverallScore]) VALUES (1, CAST(8.50 AS Decimal(5, 2)), CAST(9.00 AS Decimal(5, 2)), CAST(7.00 AS Decimal(5, 2)), CAST(8.00 AS Decimal(5, 2)), CAST(8.00 AS Decimal(5, 2)))
INSERT [dbo].[GradeDetail] ([GradeID], [PresentScore], [LabScore], [PTScore], [FEScore], [OverallScore]) VALUES (2, CAST(8.25 AS Decimal(5, 2)), CAST(8.00 AS Decimal(5, 2)), CAST(8.00 AS Decimal(5, 2)), CAST(4.00 AS Decimal(5, 2)), CAST(8.00 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[Grades] ON 

INSERT [dbo].[Grades] ([ID], [Student_ID], [Class_ID], [Teacher_ID], [grade], [DayOfGrade], [subject]) VALUES (191, 1, 32, 1, 1, CAST(N'2024-07-21' AS Date), 1)
INSERT [dbo].[Grades] ([ID], [Student_ID], [Class_ID], [Teacher_ID], [grade], [DayOfGrade], [subject]) VALUES (192, 1, 32, 1, 2, CAST(N'2024-07-21' AS Date), 2)
INSERT [dbo].[Grades] ([ID], [Student_ID], [Class_ID], [Teacher_ID], [grade], [DayOfGrade], [subject]) VALUES (193, 1, 32, 1, 3, CAST(N'2024-07-21' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Grades] OFF
GO
INSERT [dbo].[Roles] ([ID], [name]) VALUES (1, N'Teachers')
INSERT [dbo].[Roles] ([ID], [name]) VALUES (2, N'Students')
INSERT [dbo].[Roles] ([ID], [name]) VALUES (3, N'Admin')
GO
SET IDENTITY_INSERT [dbo].[Schedules] ON 

INSERT [dbo].[Schedules] ([DayOfWeeks], [slot], [Class_ID], [Teacher_ID], [SubjectID], [ScheduleID]) VALUES (N'2024-07-21', 1, 1, 1, 1, 640)
INSERT [dbo].[Schedules] ([DayOfWeeks], [slot], [Class_ID], [Teacher_ID], [SubjectID], [ScheduleID]) VALUES (N'2024-07-21', 2, 1, 1, 1, 641)
INSERT [dbo].[Schedules] ([DayOfWeeks], [slot], [Class_ID], [Teacher_ID], [SubjectID], [ScheduleID]) VALUES (N'2024-07-21', 3, 2, 2, 1, 642)
GO
SET IDENTITY_INSERT [dbo].[Schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[ScheduleStu] ON 

INSERT [dbo].[ScheduleStu] ([ScheduleStuID], [ScheduleID], [StudentID], [Status]) VALUES (1830, 652, 1, 1)
INSERT [dbo].[ScheduleStu] ([ScheduleStuID], [ScheduleID], [StudentID], [Status]) VALUES (1831, 653, 1, 3)
INSERT [dbo].[ScheduleStu] ([ScheduleStuID], [ScheduleID], [StudentID], [Status]) VALUES (1832, 684, 1, 3)
SET IDENTITY_INSERT [dbo].[ScheduleStu] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([ID], [FullName], [DateOfBirth], [gender], [PhoneNumber], [address], [Account_ID]) VALUES (1, N'Nguyen Van An', CAST(N'2005-01-01' AS Date), 1, N'0912345601', N'Ha Noi', 11)
INSERT [dbo].[Students] ([ID], [FullName], [DateOfBirth], [gender], [PhoneNumber], [address], [Account_ID]) VALUES (2, N'Le Thi Bao', CAST(N'2005-02-02' AS Date), 0, N'0912345602', N'Ha Noi', 12)
INSERT [dbo].[Students] ([ID], [FullName], [DateOfBirth], [gender], [PhoneNumber], [address], [Account_ID]) VALUES (3, N'Tran Van Cuong', CAST(N'2005-03-03' AS Date), 1, N'0912345603', N'Ha Noi', 13)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([ID], [Name]) VALUES (1, N'Biology')
INSERT [dbo].[Subject] ([ID], [Name]) VALUES (2, N'Chemistry')
INSERT [dbo].[Subject] ([ID], [Name]) VALUES (3, N'Mathematics')
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([ID], [FullName], [DateOfBirth], [gender], [PhoneNumber], [address], [Department_ID], [Account_ID]) VALUES (1, N'Nguyen Van An', CAST(N'1980-01-01' AS Date), 1, N'0912345678', N'Ha Noi', 1, 1)
INSERT [dbo].[Teachers] ([ID], [FullName], [DateOfBirth], [gender], [PhoneNumber], [address], [Department_ID], [Account_ID]) VALUES (2, N'Le Thi Bao', CAST(N'1981-02-02' AS Date), 0, N'0912345679', N'Ha Noi', 1, 2)
INSERT [dbo].[Teachers] ([ID], [FullName], [DateOfBirth], [gender], [PhoneNumber], [address], [Department_ID], [Account_ID]) VALUES (3, N'Tran Van Cuong', CAST(N'1982-03-03' AS Date), 1, N'0912345680', N'Ha Noi', 1, 3)
SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Accounts] ([ID])
GO
ALTER TABLE [dbo].[ClassStu]  WITH CHECK ADD FOREIGN KEY([Class_ID])
REFERENCES [dbo].[Classes] ([ID])
GO
ALTER TABLE [dbo].[ClassStu]  WITH CHECK ADD FOREIGN KEY([Student_ID])
REFERENCES [dbo].[Students] ([ID])
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD FOREIGN KEY([Class_ID])
REFERENCES [dbo].[Classes] ([ID])
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD FOREIGN KEY([Student_ID])
REFERENCES [dbo].[Students] ([ID])
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD FOREIGN KEY([Teacher_ID])
REFERENCES [dbo].[Teachers] ([ID])
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grades_GradeDetail] FOREIGN KEY([grade])
REFERENCES [dbo].[GradeDetail] ([GradeID])
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_Grades_GradeDetail]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grades_Subject] FOREIGN KEY([subject])
REFERENCES [dbo].[Subject] ([ID])
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_Grades_Subject]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD FOREIGN KEY([Class_ID])
REFERENCES [dbo].[Classes] ([ID])
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD FOREIGN KEY([Teacher_ID])
REFERENCES [dbo].[Teachers] ([ID])
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_SubjectID] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([ID])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_SubjectID]
GO
ALTER TABLE [dbo].[ScheduleStu]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleStu_Schedules] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedules] ([ScheduleID])
GO
ALTER TABLE [dbo].[ScheduleStu] CHECK CONSTRAINT [FK_ScheduleStu_Schedules]
GO
ALTER TABLE [dbo].[ScheduleStu]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleStu_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([ID])
GO
ALTER TABLE [dbo].[ScheduleStu] CHECK CONSTRAINT [FK_ScheduleStu_Students]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Accounts] ([ID])
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Accounts] ([ID])
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD FOREIGN KEY([Department_ID])
REFERENCES [dbo].[Departments] ([ID])
GO
ALTER TABLE [dbo].[TeachSubject]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([ID])
GO
ALTER TABLE [dbo].[TeachSubject]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teachers] ([ID])
GO
